



.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
/* nav style */
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111111;
     /* margin-top: 57px;
    margin-left: 190px;
    margin-right: 190px; */
    padding-top: 20PX;
    padding-left: 190PX;
    padding-right: 190PX;
} 
.nav-title{
    font-size: 2.25rem;
    font-weight: 800px;
    color: #E6533C;
    
}
nav ul li{
    list-style: none;
    margin-right: 45px;


}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li a{
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 400;
    
}
.white1{
    color: #FFFFFF;
}
.white2{
  color: rgba(255, 255, 255, 0.5);
}
.black{
  background-color: black;
}
.btn1{
    background-color: #E6533C;
    padding: 15px 50px;
    font-weight: 600px;
    border-radius: 45px;
    color: #FFFFFF;
    font-size: 1.12rem;
}

.hero {
    background-image: linear-gradient(
      to right top, #000000, #100e0d, #1a1716, #21201c, #272924
      
      
    );
  }
  .hero_container {
    width: 1180px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hreo_text_section h1 {
    font-size: 4.87rem;
    font-weight: 900;
    line-height: 93.6px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .hreo_text_section H1 span {
    font-family: Miama;
    font-style: italic;
    font-weight: 400;
  }
  .hreo_text_section p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #ffffff80;
    margin-bottom: 20px;
  }
  .hreo_text_section button {
    margin-right: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 10px 25px;
    border-radius: 20px;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  #heroButtonOne {
    background-color: #e6533c;
  }
  #heroButtonTwo {
    background-color: transparent;
  }
  .hero_image_section {
    position: relative;
  }
  .hreo_item {
    position: absolute;
    padding: 10px 14px;
    border: #ffffff1a;
    background-color: #3030308a;
    border-radius: 20px;
    right: -39px;
    top: 135px;
  }
  .hreo_item h2 {
    color: #ffffff;
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
  }
  .hreo_item p {
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
  }
  .hreo_item_two {
    position: absolute;
    padding: 10px 14px;
    border: #ffffff1a;
    background-color: #3030308a;
    border-radius: 20px;
    left: -90px;
    bottom: 38px;
  }
  .hreo_item_two h2{
    color: #ffffff;
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
  }
  .hreo_item_two p{
    font-family: Inter;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    color: #ffffff;
  }

  /* main section  */
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  .con-1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 55px;
  }
  .con-title{
    font-weight: 900;
    font-size: 3rem;
    
  }
  .con-2{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .img{
    border-radius: 90px;
    
  }
  .img-subtitle{
    text-align: center;
    font-weight: 600;
    font-size: 1.12rem;

  }
  /* section  */
  .img2{
    width: 350px;
    height: 310px;
    border-radius: 18px;
  }
  .run{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: #222222;
    border-radius: 18px;
   
  }
  .run-des{
    text-align: left;
    width: 443px;
    height: 290px;
    padding-left: 54px;
    padding-top: 40px;
    padding-bottom: 70px;
  }
  .pic-run{
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 40px;
  }

  /* table  */
  
  .bmi-chart{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
  }

  .bmi-in{
    padding-top: 50px;
    padding-left: 180px;
    padding-bottom: 100px;
    padding-right: 100px;
    
  }
  table{
    border-collapse: collapse;
  }
  .type{
    font-size: 1.75rem;
    font-weight: 900;
    
  }

  td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.5);
    
  }
  .form-in{
    height: 48px;
    width: 280px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .from-int{
    height: 48px;
    width: 575px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
    font-size: 1rem;
  }
  table{
    position: absolute;
    font-size: 1.25rem;
  }

  .bmi-form{
    padding-left: 250px;
    padding-right: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
    
  }
  
  .bmi-title{
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* Trainer */
  .al{
    text-align: center;
  }
  .image{
    background-repeat: no-repeat;
    height: 292px;
    width: 360px;
    background-size: cover;
  }
  .trainer{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    margin-left: 110px;
    margin-right: 110px;

  }

  .trainer-1{
    display: flex;
    justify-content: center;
    
    
  }
  .trainer-2{
    display: flex;
    justify-content: center;
   

    
  }

  .Jerome{
    background-image: url(../images/trainer1.png);
    border-radius: 18px;
    margin: 20px;
    
    
  }
  .Cameron{
    background-image: url(../images/trainer2.png);
    border-radius: 18px;
    margin: 20px;
  }
  .Darrell{
    background-image: url(../images/trainer3.png);
    border-radius: 18px;
    margin: 20px;

  }

  .Dianne{
    background-image: url(../images/trainer4.png);
    border-radius: 18px;
    margin: 20px;

  }
  .Cody{
    background-image: url(../images/trainer5.png);
    border-radius: 18px;
    margin: 20px;

  }
  .Theresa{
    background-image: url(../images/trainer6.png);
    border-radius: 18px;
    margin: 20px;

  }
  .font-size{
    font-size: 1.25rem;
    font-weight: 900;
    color: #FFFFFF;

  }
  .font-size2{
    font-size: 0.87;
    color: rgba(255, 255, 255, 0.5);
  }
  .letter{
    padding-top: 180px;
    padding-left: 20px;
   
  }

  /* footer */

  .footer-title{
    font-size: 4.37rem;
    font-weight: 800px;
    color: #E6533C;
  }
  .footer-con{
    display: flex;
    gap: 300px;
    padding-top: 70px;
  }
  footer{
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 100px;
    padding-bottom: 100px;
  }

  .footer-item{
    display: flex;
    gap: 150px;
    padding-left: 60px;
  }
  .footer-section{
    height: 100px;
    width: 500px;
    padding-left: 200px;
  }
  .font1{
    font-size: 1.37rem;
    font-weight: 600;
  }
  .font2{
    font-size: 1rem;
  }
  .end{
    width: 80%;
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.1);
  }
  .font3{
    font-size: 1.25rem;
    text-align: center;
    padding-top: 20px;

  }

/* responsive */

@media screen and (max-width:576px) {
  nav ul li{
    display: none;
  }
  .nav-title{
    text-align: center;
  }
  .hreo_text_section{
    padding-left: 0%;
    align-self: start;
    text-align: center;
    
    
    text-align: left;


  }
  .hero_container{
    flex-direction: column;
    padding-right: 400px;
    overflow-wrap: unset;
    
  }
  .hero_image_section{
    align-self: start;
    
   
    
  }
  .con-1{
    padding-top: 20px;
  }
 
  .con-2{
    flex-direction: column;
  }
   .trainer-1 .trainer-2{
  
    flex-direction: column;
  }
  .run{
    flex-direction: column;
  }
  .trainer-1, .trainer-2{
    align-items: center;
    flex-direction: column;
    
  }
  .pic-run{
    padding-left: 10px;
  }
    
  
  .run-des{
    padding-left: 10px;
    text-align: left;
  }
  .heroButtonOne, .heroButtonTwo{
    align-items: center;
  }
  nav{
    padding-left: 30px;
  }
  .footer-section{
    
    padding: 10px;
    text-align: left;
  }
  .footer-con{
    flex-direction: column;
  }
  .footer-item{
    flex-direction: column;
  }
  .bmi-chart{
    flex-direction: column;
    padding-left: auto;
    position: relative;
    
    
  }
  .bmi-in{
    padding-left: 10px;

  }
  .bmi{
    padding-top: 350px;
    padding-left: 0%;

  }
  .bmi-title{
    margin-left: auto;
    text-align: center;
    
    overflow: unset;
  }
  .bmi-form{
    overflow: unset;
    padding-left: 10px;
    padding-top: 200px;
    align-items: center;
  }
  

  
}

    
  